<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/adicao" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome">
    <label for="raca">Raça:</label>
        <select name="raca" id="raca">
            {% for raca in lQnt %}
                    <option value="{{raca[2]}}">{{raca[2]}}</option>  
            {% endfor %}
        </select>
    
    <input type="submit">
   </form>
</body>
</html>